<div class="page">
  <div class="header">
    <div class="title">Find pair</div>
    <div class="results">
      <div class="result" *ngFor="let result of results | keyvalue">
        <div class="result__name">{{result.key}}:</div>
        <div class="result__value">{{result.value | date : 'mm:ss'}}</div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="control-panel">
      <button class="button button-start" (click)="onStart()" [disabled]="isStarted">Start</button>
      <div class="time">{{(this.currentTime * 1000) | date : 'mm:ss'}}</div>
      <button class="button button-stop" (click)="onStop()" [disabled]="!isStarted">Stop</button>
    </div>
    <div class="dashboard">
      <div class="card-wrapper" *ngFor="let card of cards; let i = index">
        <div class="card"
             [@flip]="card.state"
             [@hover]="hoverCardIndex === i ? hoverStatesEnum.ENTER : hoverStatesEnum.LEAVE"
             (mouseover)="onEnter(i)"
             (mouseleave)="onLeave()"
             (click)="onOpen(i)">
          <div class="card__side card__front"></div>
          <img class="card__side card__back" [src]="card.image" [alt]="card.image">
        </div>
      </div>
    </div>
  </div>
</div>
