.header {
  background: chartreuse;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 16px;

  .title {
    font-size: 24px;
  }

  .result {
    display: flex;

    &__name {
      margin-right: 4px;
    }
  }
}

.body {
  width: 432px;
  margin: auto;

  .control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;

    .button {
      background-color: #F3F3F3;
      border: none;
      border-radius: 12px;
      box-shadow: 0 0 7px -5px #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 33%;
      margin: 0 4px;
    }

    .time {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;
      margin: 0 4px;
    }
  }

  .dashboard {
    display: flex;
    flex-flow: wrap;
    margin: auto;

    .card {
      border-radius: 12px;
      position: relative;
      height: 64px;
      width: 64px;
      margin: 4px;
      transform-style: preserve-3d;

      &__side {
        backface-visibility: hidden;
        border-radius: 12px;
        width: 100%;
        height: 100%;
        position: absolute;
        user-select: none;
      }

      &__front {
        background-color: #EEEEEE;
        transform: rotateY(0deg);
      }

      &__back {
        background: chartreuse;
        transform: rotateY(-180deg);
      }
    }
  }
}
